
.avatar-placeholder {
    width: 50px;
    height: 50px;
    background-color: #e6fff3;
    font-size: 20px;
    color: #00a158;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold; 
   
  }
  .gaps{
    gap:10px
  }
  
  .timetable-card {
    background: #fff;
    transition: all 0.3s;
  }
  
  .timetable-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  







  .custom-table th,
  .custom-table td {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." when text is too long */
  }
  
.classItemtext{
    color: #202C4B;
    margin-bottom: 1px !important;
}
.classItemsubtext{
    color: #6a7287;
    font-size: 14px;
}
.textTimedata{
    font-size: 12px;
    color: #6a7287;
}









.custom-card {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #ffffff;
}
.viewiconsetting{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Table Styling */
.custom-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: none; 
}


.custom-table thead {
    background: #f2f4f8;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0px;
}
.custom-table th {
    padding: 14px 12px !important;
    line-height: 1.5; /* Adjusts height to ensure spacing */
}

.custom-table th, 
.custom-table td {
    padding: 12px;
    margin: 5px 0px;
    border: none !important; 
}

.custom-table tbody tr {
    border-bottom: 1px solid #ddd !important;
}


.custom-table th:not(:last-child),
.custom-table td:not(:last-child) {
    border-right: none !important; 
}


.custom-table tbody tr:hover {
    background: #f5faff;
}

  
 
  




.admintext{
    font-size: 22px;
    font-weight: 600;
    color: #202C4B;
    /* margin-bottom: 7px; */
  }
  .headingbanner{
    font-size: 30px;
    font-weight: 700;
  }
  .card-custom-bg {
    
    background-image: url('./assets/img/dashboard/shape-05.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    width: 100%;
  }
  .bg-info {
    background-color: #0F65CD !important;
    border: 1px solid #0F65CD !important;
    color: #FFF;
}
.bannerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-custom-hover{
    cursor: pointer;
}
.card-custom-inside {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 300px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.card-custom-inside > img {
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}
.card-custom-inside::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.09);
    opacity: 0.6;
    z-index: 1;
}
.card-custom-hover:hover .card-custom-inside > img {
    transform: scale(1.04); /* Scale the image on hover */
}
.card-custom-inside + .card-title{
    text-align: start;
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 500 !important;
}
@media screen and (max-width: 768px) {
    .card-custom-inside{
        margin-top: 20px;
    }
}
/* HTML: <div class="loader-fetch"></div> */
.loader-fetch {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    background: radial-gradient(circle closest-side, #000 94%, #0000) right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
}

.loader-fetch::before {
    content: "Loading...";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side, #fff 94%, #000);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l24 {
    100% {
        background-position: left
    }
}
.haruki_Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
    z-index: 100;
    right: 0;
}

.haruki_sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.haruki_sign  {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.haruki_text_view {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.haruki_Btn:hover {
    width: 80px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.haruki_Btn:hover .haruki_sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

.haruki_Btn:hover .haruki_text_view {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
}

.haruki_Btn:active {
    transform: translate(2px, 2px);
}
.thumb-container{
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
}
.thumb-container img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}
.thumb-container .thumb-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thumb-side .btn{
    width: fit-content;
    font-size: 12px !important;
    border-radius: 3px;
}
.iframe-container-admin {
position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container-admin::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
}

.iframe-admin {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
  .wave-container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 3px;
      margin-top: 10px;
  }

  .wave-bar {
      width: 2px;
      height: 5px;
      background: linear-gradient(180deg, #1db954, #1ed760);
      animation: wave 1s ease-in-out infinite;
      border-radius: 2px;
  }

  .wave-bar:nth-child(1) {
      animation-delay: 0s;
  }

  .wave-bar:nth-child(2) {
      animation-delay: 0.1s;
  }

  .wave-bar:nth-child(3) {
      animation-delay: 0.2s;
  }

  .wave-bar:nth-child(4) {
      animation-delay: 0.3s;
  }

  .wave-bar:nth-child(5) {
      animation-delay: 0.4s;
  }

  @keyframes wave {

      0%,
      100% {
          transform: scaleY(1);
      }

      50% {
          transform: scaleY(2.5);
      }
  }
@media screen and (min-width: 0px) {
    .iframe-container-admin {
        width: 100%;
    }
}
@media screen and (min-width: 0px) and (max-width: 768px){
    .hide-topic-div{
        display: none;
    }
    .small-w-100{
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .iframe-container-admin {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .iframe-container-admin {
        width: 50%;
    }
}
/* student dashboard css start here  */
.id-dsh-links-img{
    height: 50px;
}
.id-card-wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    border-radius: 7px;
}
.id-card-wrapper:hover {
    transform: scale(1.04); /* Scale the image on hover */
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}
.id-issued-wrapper{
    background-color: #fff8ef;
    padding: 10px;

}
.id-issued-wrapper img{
    border-radius: 2px;
    height: 100px;
    width: 100px;
}
.id-issued-content{
    padding: 5px 13px 15px;
}

.id-issued-content h4, .id-issued-content p{
    color: #B81365;

}


/* Month Selector Container */

  /* Form Styling */
  .month-form {
    border-radius: 8px;
  }
  
  /* Label Styling */
  .month-label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Input Styling */
  .month-input {
    padding: 3px 8px;
    font-size: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .id-dsh-text h4,h6, .id-dsh-text p {
    color: white;
  }

  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.avatar.avatar-lg {
    width: 2.813rem;
    height: 2.813rem;
    line-height: 2.813rem;
    font-size: 1rem;
}
.id-card{
    box-shadow: 0 0 10px #b7c0ce33 !important;
    border-radius: 7px;
    border: 1px solid #E9EDF4;

}
.badge.badge-soft-success {
    background: rgba(26, 190, 23, 0.1);
    color: #1ABE17;
}
.badge {
    padding: 0.25rem 0.45rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 4px;
}
.id-class-room-no{
    background-color: #EAB300;
    padding: 0px 5px;
    border-radius: 2px;
    color: white;
}

.id-dsh-profile{
    background-color: #5eeddf4a;
}
.id-dsh-table{
    background-color: #4269c447;
}
.id-dsh-lms{
    background-color: #0000001f;
}
.id-dsh-feedback{
    background-color: #31afdc24;
}
.id-dsh-website{
    background-color: #00d9ab40;
}
.id-dsh-internship{
    background-color: #0362d926;
}

.id-dsh-banner-relative{
    position: relative;
}
.id-dsh-banner-img-fix{
    position: absolute;
    right: 0;
    top: 0;
    height: 148.7px;
    border-radius: 0px 4px 4px 0px;
}
.id-text-dark{
    font-size: 14px;
    font-weight: 700;
    color: #464444;
}
.id-dsh-feedback-img{
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
}
.id-dsh-lms-img{
    background: #f1f2f3;
    padding: 5px 10px;
    border-radius: 10px;
}

.id-notice-link-wrap{
    border-bottom: 1px solid rgb(197, 196, 196);
    padding: 10px 20px;
}
.id-notice-main-card{
    border: 1px solid rgb(31 44 75);

}
.id-notice-card-header{
    background-color: rgb(31 44 75);
    border-radius: 6px 6px 0 0 !important;
}
.id-notice-card-header h4, .id-notice-card-header .id-notice-link{
    color: white;
}

.id-notice-link{
    background: #f3f0f036;
    padding: 2px 5px;
    border-radius: 3px;
}

.id-notice-link-wrap:last-child {
  border-bottom: none; /* Remove the border from the last item */
}

.id-parent-panel-position-fixed{
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 1000;
    background-color: #8f0f50;
    padding: 3px 8px;
    color: white;
}


.id-notice-marquee {
    height: 250px; /* Adjust based on your design */
    overflow: hidden;
    position: relative;
  }
  
  .id-notice-marquee .id-notice-link-wrap {
    animation: scrollNotice 7s linear infinite;

  }
  
  @keyframes scrollNotice {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .id-notice-card:hover .id-notice-marquee .id-notice-link-wrap {
    animation-play-state: paused;
  }
  