.page-container {
    background-color: #fff !important;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 1.5rem;
}
   p {
       margin: 0px;
   }

   .container-main {
       width: 21cm;
       /* A4 width */
       height: 39cm;
       /* A4 height */
       margin: 5px auto 0 auto;
       padding-top: 10px;
       background-color: #fff;
       display: grid;
       place-content: center;
   }

   .inner-container {
       width: 20cm;
       height: 36cm;
       border: 1px solid #333;
       margin: auto;
       padding: 0.5cm 1cm;
       background-color: #fff;
   }

   h1 {
       text-align: center;
       text-transform: uppercase;
   }

   .header,
   .footer {
       text-align: center;
   }

   .details {
       margin: 0.7cm 0 0 0;
   }

   .details table {
       width: 100%;
       border-collapse: collapse;
   }

   .details td,
   .details th {
       padding: 2px;
       border: 1px solid black;
       text-align: center;
       font-size: 14px !important;
       font-weight: 400 !important;
   }

   .instructions {
       margin-top: 20px;
   }

   .instructions ul {
       list-style-type: lower-roman;
       padding-left: 0px;
       margin: 0px;
   }

   .instructions li {
       text-align: justify;
       line-height: 22px;
   }

   .instructions h3 {
       margin-bottom: 1px;
   }

   .button-container {
       text-align: center;
       margin-top: 20px;
   }

   button {
       padding: 10px 20px;
       font-size: 16px;
       cursor: pointer;
   }

   .id-header-wrapper {
       display: flex;
       align-items: center;
       width: 100%;
   }

   .id-header-content {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 85%;
   }

   .id-header-content h4 {
       font-size: 16px;
       margin-bottom: 0;
       font-weight: 600;
       text-transform: uppercase;
   }

   .id-header-content h3 {
       font-size: 18px;
       font-weight: 600;
       letter-spacing: 1px;
       text-align: center;
       text-transform: uppercase;
   }

   .id-header-content hr {
       border-top: 1px solid #333;
       margin: 0;
       width: 100%;
   }

   .id-header-img {
       height: 100px;
       width: 100px;
   }

   .id-head-content {
       font-size: 16px;
       font-weight: 500;
       color: #333;
       line-height: 30px;
       text-align: center;
       margin-bottom: 2px;
   }

   .id-candidate-photo {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 4.5cm;
       width: 4.5cm;
       border: 1px solid;
   }
   .id-candidate-photo img{
     height: 100%;
     width: 100%;
     object-fit: fill;
   }

   .id-candidate-sign {
       border: 1px solid;
    width: 4.5cm;
   }
   .id-candidate-sign img {
    height: 1.5cm;
        width: 4.5cm;
       object-fit: fill;
   }
   .id-cendidate-sign-text {
       display: inline-block;
       font-size: 15px;
       margin-top: 10px;
   }

   .id-personal-details-wrapper {
       display: flex;
       justify-content: space-between;
   }

   .id-text-bold {
       display: inline-block;
       width: 5.5cm;
       font-size: 16px;
       font-weight: 500;
       color: #141313;
       margin-bottom: 0;
   }

   .id-text-light {
       margin-bottom: 0;
       margin-left: 0.6cm;
       font-size: 15px;
       font-weight: 400;
       color: #333;
   }

   .id-text-dark {
       font-weight: 600;
   }

   .id-candidate-photo-wrapper {
       margin-left: 0.2cm;
   }

   .id-timing-head {
       font-size: 18px;
       font-weight: 600;
       line-height: 41px;
       text-align: center;
       margin-top: 10px;
   }

   .id-dean-examination {
       text-align: end;
       margin-top: 2cm;
   }

   .id-inst-content {
       padding: 5px 0px;
       display: flex;
       gap: 20px;
   }

   .id-intruction-number {
       width: 50px;
   }

   .id-intruction-number-c {
       width: 26px;
   }

   .id-intruction-number-the {
       width: 25px;
   }

   .id-padd-p {
       margin-bottom: 1px;
   }


   /* Styling for the list items */
   .instructions li {
       list-style-type: none;
       /* Disable default list-style */
       display: flex;
       align-items: flex-start;
   }

   /* Styling for the Roman numeral */
   .instructions li::before {
       content: counter(item, lower-roman) ") ";
       /* Use Roman numerals */
       counter-increment: item;
       /* Increment the counter */
       margin-right: 10px;
       /* Add space between numeral and text */
   }

   /* Initialize counter for ordered list */
   .instructions {
       counter-reset: item;
       /* Reset the counter */
   }