.heading {
  font-size: 30px;
  margin-top: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px !important;
  font-weight: 500;
  font-family: gorditas !important;
  margin-bottom: 5px;
  text-align: start !important;
}

.form-group input,
.form-group select {
  border: 1px solid #F5F5F5;
  border-radius: 1px !important;
  background-color: #F5F5F5;
}

.form-group input:hover,
.form-group select:hover {
  border: 1px solid #7A0F45;
}

.form-group input:focus,
.form-group select:focus {
  border: 1px solid #7A0F45;
  outline: none;
  box-shadow: none !important;
}

.space-between {
  display: flex;
  justify-content: space-between;
}